@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./assets/img.jpg);
  background-repeat: no-repeat;
  color: white;
}

.input-title h1 {
  font-size: 2.5rem;
}

.form__child__login {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1rem;
  background-color: transparent;
  backdrop-filter: blur(20px);
  padding: 4rem;
  border-radius: 12px;
  border: 2px solid rgba(255, 255, 255, 0.2);
}

.input-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-form {
  width: 20rem;
  border-radius: 24px;
  background-color: transparent;
  padding: 1rem;
  border: 2px solid rgba(255, 255, 255, 0.2);
  color: white;
  font-size: 1rem;
}

.input-box i {
  position: absolute;
  left: 75%;
}

::placeholder {
  color: white;
}

.check-box {
  color: white;
  text-decoration: none;
}

.check-box > a {
  text-decoration: none;
  color: white;
  padding-left: 3.5rem;
  border-radius: 20px;
}

.check-box > a:hover {
  color: purple;
}

.btn {
  padding: 10px 20px;
  text-transform: uppercase;
  border-radius: 24px;
  font-size: 17px;
  font-weight: 600;
  color: #ffffff;
  text-shadow: none;
  background: transparent;
  cursor: pointer;
  box-shadow: transparent;
  border: 1px solid rgba(255, 255, 255, 0.2);
  transition: 0.5s ease;
  user-select: none;
  width: 21rem;
}

.btn:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease;
  cursor: pointer;
  color: #ffffff;
  background: transparent;
  border: 1px solid #542ab0;
  text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
  box-shadow: 0 0 5px #be65e3, 0 0 20px #be65e3, 0 0 50px #be65e3,
    0 0 100px #be65e3;
}

.register-form > a {
  text-decoration: none;
  color: white;
  font-weight: 600;
}

.register-form a:hover {
  color: purple;
}

@media (max-width: 1200px) {
}
